<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Espaço de Homenagem</title>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/img/iconvs.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/campanhas.css" />
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <nav class="bg-white p-5">
      <div class="flex items-center justify-between">
        <!-- Logo -->
        <div class="flex items-center space-x-5 px-5">
          <img src="/img/logo.png" alt="Logo" class="w-28" />
        </div>
        <!-- Links de Navegação (Centralizados) -->
        <div class="flex-1 flex text-center space-x-6">
          <!-- Botão "Página Inicial" -->
          <button
            id="btn-landingPage"
            class="text-blue-900 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            Página Inicial
          </button>
          <!-- Botão "ONGs" -->
          <button
            id="btn-ong"
            class="text-blue-900 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            ONGs
          </button>
          <!-- Botão "Sobre" -->
          <button
            id="btn-sobre"
            class="text-blue-900 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            Sobre
          </button>
          <!-- Botão "Campanha Memória" -->
          <button
            id="btn-campanhas"
            class="text-blue-900 border border-orange-500 px-10 py-2 rounded-full focus:ring-orange-500 hover:text-orange-500"
          >
            Campanha Memória
          </button>
        </div>
        <!-- Barra de Pesquisa -->
        <div class="relative">
          <input
            type="text"
            placeholder="Procurar memorial"
            class="py-2 px-4 pl-10 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500 w-64"
          />
          <svg
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.742a6.5 6.5 0 1 0-1.417 1.417l3.486 3.485a1 1 0 1 0 1.415-1.414l-3.484-3.485zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
          <!--botao de login-->
          <button
            id="btn-login"
            class="text-blue-900 border border-orange-500 px-4 py-2 rounded-full focus:ring-orange-500 hover:text-orange-500 ml-4"
          >
            <img src="/img/perfil.png" class="w-6 inline items-center" />
            Login
          </button>
        </div>
      </div>
    </nav>

    <div class="bg-white w-full p-8 flex">
      <div class="p-8 w-1/2 flex-row">
        <div class="mx-auto mt-4">
          <h1 class="font text-4xl font-bold tracking-tight text-blue-900 mt-8">
            Conheça as Campanhas!
          </h1>
          <p class="mt-4 text-2xl text-blue-900 text-justify">
            As campanhas de trânsito desempenham um papel essencial na
            conscientização da sociedade sobre a importância de um comportamento
            responsável nas vias. Elas alertam para os riscos de imprudências,
            como o excesso de velocidade ou o uso do celular ao volante, e
            reforçam a necessidade de respeito às leis.
          </p>
        </div>
      </div>
      <div class="w-1/2 p-8">
        <img src="/img/group-young-friends-stacking-hands.jpg" class="w-1/3" />
      </div>
    </div>

    <section class="container relative mx-auto py-12 px-2">
      <h3
        class="mb-14 text-blue-900 text-center text-5xl font-semibold lg:text-left xl:text-4xl"
      >
        Informe-se e Conheça!
      </h3>
      <div class="p-8 mt-4">
        <div
          class="rounded-md w-full bg-gray-50 border-2 border-orange-500 px-4 py-4 text-blue-900 hover:border-blue-900 hover:text-orange-500"
        >
          <h4 class="text-4xl font-semibold">Maio Amarelo - Todo o mês</h4>
        </div>
        <div
          class="inline-flex w-full rounded-b-2xl border-x-2 border-b-2 border-dashed border-orange-500 bg-gray-50 px-4 py-4 text-blue-800"
        >
          <h5 class="text-justify text-xl">
            O <b>Maio Amarelo</b> é uma campanha global de conscientização para
            a segurança no trânsito, promovida anualmente. <br />
            Criada em <b>2014</b>, a iniciativa busca chamar a atenção da
            sociedade para a prevenção de acidentes e valorização da vida.
            <br />
            Com o lema deste ano 2024 <b>"No trânsito, escolha a vida"</b>, o
            movimento reúne ações educativas, debates e mobilizações em diversas
            cidades. A cor amarela simboliza atenção e alerta, remetendo à
            sinalização de trânsito. A campanha reforça a
            <b>responsabilidade</b> de todos na construção de um trânsito mais
            <b>seguro</b> e <b>humano.</b>
          </h5>
        </div>
      </div>
      <div class="p-8">
        <div
          class="rounded-md w-full bg-gray-50 border-2 border-orange-500 px-4 py-4 text-blue-900 hover:border-blue-900 hover:text-orange-500"
        >
          <h4 class="text-4xl font-semibold">
            Semana Nacional do Trânsito - 18 a 25 de Setembro
          </h4>
        </div>
        <div
          class="inline-flex w-full rounded-b-2xl border-x-2 border-b-2 border-dashed border-orange-500 bg-gray-50 px-4 py-4 text-blue-800"
        >
          <h5 class="text-justify text-xl">
            É uma iniciativa anual no Brasil que promove a
            <b>conscientização</b> sobre segurança e responsabilidade no
            trânsito.<br />
            Com o tema definido pelo <b>Contran</b>, as ações buscam educar
            pedestres, ciclistas, motoristas e passageiros sobre práticas
            seguras. A semana é marcada por palestras, campanhas educativas e
            atividades comunitárias.<br />
            O objetivo é <b>reduzir acidentes e salvar vidas</b> , reforçando
            que o trânsito é uma responsabilidade de todos.
          </h5>
        </div>
      </div>

      <div class="p-8">
        <div
          class="rounded-md w-full bg-gray-50 border-2 border-orange-500 px-4 py-4 text-blue-900 hover:border-blue-900 hover:text-orange-500"
        >
          <h4 class="text-4xl font-semibold">
            Dia do Trânsito - 25 de Setembro
          </h4>
        </div>
        <div
          class="inline-flex w-full rounded-b-2xl border-x-2 border-b-2 border-dashed border-orange-500 bg-gray-50 px-4 py-4 text-blue-800"
        >
          <h5 class="text-justify text-xl">
            É celebrado no Brasil, dentro da <b>Semana Nacional de Trânsito</b>.
            <br />
            A data reforça a importância da <b>segurança</b> nas vias e a
            <b>conscientização</b> sobre atitudes responsáveis de motoristas,
            pedestres e ciclistas. Com ações educativas, busca-se reduzir
            acidentes e promover um trânsito mais seguro e humano.
          </h5>
        </div>
      </div>

      <div class="p-8">
        <div
          class="rounded-md w-full bg-gray-50 border-2 border-orange-500 px-4 py-4 text-blue-900 hover:border-blue-900 hover:text-orange-500"
        >
          <h4 class="text-4xl font-semibold">
            Dia do Mundial em Memória às Vítimas de Trânsito
          </h4>
        </div>
        <div
          class="inline-flex w-full rounded-b-2xl border-x-2 border-b-2 border-dashed border-orange-500 bg-gray-50 px-4 py-4 text-blue-800"
        >
          <h5 class="text-justify text-xl">
            Ocorre no <b>terceiro domingo de novembro</b>. <br />
            A data <b>homenageia</b> as vidas perdidas em acidentes de trânsito
            e busca <b>sensibilizar</b> a sociedade sobre os
            <b>impactos</b> dessas tragédias.<br />
            Além de prestar solidariedade às famílias, a iniciativa reforça a
            importância da prevenção, com foco em educação, fiscalização e
            responsabilidade. Organizações em todo o mundo promovem ações e
            eventos para lembrar que <b>cada vida conta.</b>
          </h5>
        </div>
      </div>
    </section>

    <footer class="bg-white dark:bg-gray-50 border">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
            <a href="/" class="items-center">
              <img
                src="/img/logopt2_techway.png"
                class="h-8 me-3"
                alt="TechWay Logo"
              />
              <span
                class="self-center text-2xl font-semibold whitespace-nowrap text-blue-950"
                >Via da Saudade</span
              >
            </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"
              >
                Informações
              </h2>
              <ul class="text-gray-500 dark:text-orange-700 font-medium">
                <li class="mb-4">
                  <a href="/login" class="hover:underline">Login</a>
                </li>
                <li>
                  <a href="/cadastro" class="hover:underline">Cadastro</a>
                </li>
              </ul>
            </div>
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"
              >
                Saiba Mais
              </h2>
              <ul class="text-gray-500 dark:text-orange-700 font-medium">
                <li class="mb-4">
                  <a href="/memorial" class="hover:underline">Memoriais</a>
                </li>
                <li>
                  <a href="/quemsomos" class="hover:underline">Quem somos</a>
                </li>
              </ul>
            </div>
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"
              >
                Outro
              </h2>
              <ul class="text-gray-500 dark:text-orange-700 font-medium">
                <li class="mb-4">
                  <a href="/ongs" class="hover:underline">ONGs</a>
                </li>
                <li>
                  <a href="/campanhas" class="hover:underline">Campanhas</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="my-6 border-blue-900 sm:mx-auto dark:border-blue-900" />
        <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >© 2024 <a href="/" class="hover:underline">TechWay™</a>. All Rights
            Reserved.
          </span>
        </div>
      </div>
    </footer>
    <script src="/script/navigation.js"></script>
  </body>
</html>
