<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/img/iconvs.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/output.css" />
  </head>

  <body class="max-w-7xlmx-auto">
    <!-- Navbar -->
    <nav class="bg-white p-5">
      <div class="flex items-center justify-between">
        <!-- Logo -->
        <div class="flex items-center space-x-5 px-5">
          <img src="/img/logo.png" alt="Logo" class="w-28" />
        </div>
        <!-- Links de Navegação (Centralizados) -->
        <div class="flex-1 flex text-center space-x-6">
          <!-- Botão "Página Inicial" -->
          <button
            id="btn-landingPage"
            class="text-blue-900 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            Página Inicial
          </button>
          <!-- Botão "ONGs" -->
          <button
            id="btn-ong"
            class="text-blue-900 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            ONGs
          </button>
          <!-- Botão "Sobre" -->
          <button
            id="btn-sobre"
            class="text-blue-900 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            Sobre
          </button>
          <!-- Botão "Campanha Memória" -->
          <button
            id="btn-campanhas"
            class="text-blue-900 border border-orange-500 px-10 py-2 rounded-full focus:ring-orange-500 hover:text-orange-500"
          >
            Campanha Memória
          </button>
        </div>
        <!-- Barra de Pesquisa -->
        <div class="relative">
          <input
            id="search-bar"
            type="text"
            placeholder="Procurar memorial"
            class="py-2 px-4 pl-10 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500 w-64"
          />
          <svg
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.742a6.5 6.5 0 1 0-1.417 1.417l3.486 3.485a1 1 0 1 0 1.415-1.414l-3.484-3.485zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
          <!--botao de login-->
          <button
            id="btn-login"
            class="text-blue-900 border border-orange-500 px-4 py-2 rounded-full focus:ring-orange-500 hover:text-orange-500 ml-4"
          >
            <img src="/img/perfil.png" class="w-6 inline items-center" />
            Login
          </button>
        </div>
      </div>
    </nav>
    <!--Inicio do Login-->
    <section class="bg-white pb-36">
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <a
          href="/"
          class="flex items-center text-2xl font-semibold text-gray-900 dark:text-[#0D3B66]"
        >
          <img src="/img/via_da_saudade.png" class="w-40" />
        </a>
        <div
          class="w-full bg-white rounded-md border border-blue-700 mb-8 md:mt-0 sm:max-w-md xl:p-0"
        >
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
              class="text-xl font-bold leading-tight tracking-tight text-center md:text-2xl text-blue-900"
            >
              Entre sua Conta
            </h1>
            <form class="space-y-4 md:space-y-6" action="/login" method="POST">
              <div>
                <label
                  for="email"
                  class="block mb-2 text-sm font-bold text-gray-900 dark:text-black"
                  >Email</label
                >
                <input
                  type="email"
                  name="email"
                  id="email"
                  name="email"
                  class="border-blue-700 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-50 placeholder-gray-600 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="nome@.com"
                  required=""
                />
              </div>
              <div>
                <label
                  for="password"
                  class="block mb-2 text-sm font-bold text-gray-900"
                  >Senha</label
                >
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="••••••••"
                  class="border-blue-700 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-50 placeholder-gray-600 focus:ring-blue-500 focus:border-blue-500"
                  required=""
                />
              </div>
              <button
                type="submit"
                class="w-full p-2.5 font-bold border bg-white text-blue-900 border-orange-500 px-[168px] py-2 rounded-lg hover:border-blue-900 hover:text-orange-500"
              >
                Login
              </button>
              <p class="text-sm font-light text-gray-500 dark:text-gray-700">
                Não tem uma conta ainda?
                <a
                  href="/cadastro"
                  class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                  >Cadastre-se</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Rodapé da página -->
    <footer class="bg-white dark:bg-gray-50 border">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
            <a href="/" class="items-center">
              <img
                src="/img/logopt2_techway.png"
                class="h-8 me-3"
                alt="TechWay Logo"
              />
              <span
                class="self-center text-2xl font-semibold whitespace-nowrap text-blue"
                >Via da Saudade</span
              >
            </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"
              >
                Informações
              </h2>
              <ul class="text-gray-500 dark:text-orange-700 font-medium">
                <li class="mb-4">
                  <a href="/login" class="hover:underline">Login</a>
                </li>
                <li>
                  <a href="/cadastro" class="hover:underline">Cadastro</a>
                </li>
              </ul>
            </div>
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"
              >
                Saiba Mais
              </h2>
              <ul class="text-gray-500 dark:text-orange-700 font-medium">
                <li class="mb-4">
                  <a href="/memorial" class="hover:underline">Memoriais</a>
                </li>
                <li>
                  <a href="/quemsomos" class="hover:underline">Quem somos</a>
                </li>
              </ul>
            </div>
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"
              >
                Outro
              </h2>
              <ul class="text-gray-500 dark:text-orange-700 font-medium">
                <li class="mb-4">
                  <a href="/ongs" class="hover:underline">ONGs</a>
                </li>
                <li>
                  <a href="/campanhas" class="hover:underline">Campanhas</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="my-6 border-blue-900 sm:mx-auto dark:border-blue-900" />
        <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >© 2024 <a href="/" class="hover:underline">TechWay™</a>. All Rights
            Reserved.
          </span>
        </div>
      </div>
    </footer>
    <script src="/script/navigation.js"></script>
    <script type="module" src="/script/search.js"></script>
    <script type="module" src="/script/memories.js"></script>
    <script type="module">
      import { initializePageBehavior } from "./script/search.js";
      initializePageBehavior();
    </script>
  </body>
</html>
