<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conte seu relato/memoria</title>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../public/img/iconvs.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/memorialcadastro.css" />
    <link rel="stylesheet" href="../public/css/output.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="bg-white p-5 mb-8">
      <div class="flex items-center justify-between">
        <!-- Logo -->
        <div class="flex items-center space-x-5 px-5">
          <img
            src="../public/img/logopt2_techway.png"
            alt="Logo"
            class="w-28"
          />
        </div>
        <!-- Links de Navegação (Centralizados) -->
        <div class="flex-1 flex text-center space-x-6">
          <!-- Botão "Página Inicial" -->
          <button
            class="text-gray-800 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            Página Inicial
          </button>
          <!-- Botão "ONGs" -->
          <button
            class="text-gray-800 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            ONGs
          </button>
          <!-- Botão "Sobre" -->
          <button
            class="text-gray-800 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            Sobre
          </button>
          <!-- Botão "Campanha Memória" -->
          <button
            class="text-gray-800 border border-orange-500 px-10 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-orange-500 hover:border-gray-800 hover:text-orange-500"
          >
            Campanha Memória
          </button>
        </div>
        <!-- Barra de Pesquisa -->
        <div class="relative">
          <input
            type="text"
            placeholder="Procurar memorial"
            class="py-2 px-4 pl-10 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500 w-64"
          />
          <svg
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.742a6.5 6.5 0 1 0-1.417 1.417l3.486 3.485a1 1 0 1 0 1.415-1.414l-3.484-3.485zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
          <!--botao de login-->
          <button
            class="text-gray-800 border border-orange-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-orange-500 hover:border-gray-800 hover:text-orange-500 ml-4"
          >
            <img
              src="../public/img/perfil.png"
              class="size-4.5 inline items-center"
            />
            Login
          </button>
        </div>
      </div>
    </nav>
    <div class="w-full flex justify-center items-center mt-8">
      <h2 class="font-extrabold text-6xl text-blue-900">
        Conte sua memória
      </h2>
    </div>
    <div class="flex items-center justify-center h-screen">
      <form class="w-full max-w-2xl">
        <div class="flex flex-wrap -mx-3 mt-0">
          <div class="w-full md:w-1/2 px-2">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              for="grid-first-name">
              Primeiro Nome
            </label>
            <input
              class="appearance-none block w-full bg-gray-100 border border-orange-500 hover:border-blue-800 hover:text-orange-500 rounded-md py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name"
              type="text"
              placeholder="Seu primeiro nome"
            />
          </div>
          <div class="w-full md:w-1/2 px-2">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              for="grid-last-name">
              Sobrenome
            </label>
            <input
              class="appearance-none block w-full bg-gray-100 border border-orange-500 hover:border-blue-800 hover:text-orange-500 rounded-md py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-last-name"
              type="text"
              placeholder="Seu sobrenome"
            />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mt-0">
          <div class="w-full px-2 py-3">
            <label
              class="block text-gray-700 text-xs font-bold mb-2"
              for="grid-tipo-local">
              LOCAL DO ACIDENTE
            </label>
            <input
              class="appearance-none block w-full bg-gray-100 border border-orange-500 hover:border-blue-800 hover:text-orange-500 rounded-md py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-tipo-local"
              type="text"
              placeholder="Local acidente"
            />
          </div>
          <div class="w-1/2 px-2">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              for="grid-data-morte"
            >
              Data do falecimento
            </label>
            <input datepicker id="default-datepicker" 
              class="appearance-none block w-full bg-gray-100 border border-orange-500 hover:border-blue-800 hover:text-orange-500 rounded-md py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="text" 
              placeholder="Selecione a data">
           </div>
          </div>
          <div class="w-full flex flex-col mt-3">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              for="grid-mensagem"
            >
              Contate-nos
            </label>
            <textarea
              id="grid-mensagem"
              placeholder="Deixe sua mensagem"
              aria-label="Deixe sua mensagem"
              role="textbox"
              class="appearance-none block w-full h-36 bg-gray-100 border border-orange-500 hover:border-blue-800 hover:text-orange-500 rounded-md py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-400 placeholder-font-semibold"
           ></textarea>
        </div>
          
        <div class="w-full flex flex-col mx-0">
          <div class="w-full items-center">
            <button
              class="w-full text-blue-900 font-semibold bg-white border border-orange-500 hover:border-blue-800 hover:text-orange-500 py-2 my-1 mt-4 rounded-md" type="button">
              Postar
            </button>
          </div>
        </div>
      </form>
    </div>

    <!--Rodapé-->
    <footer class="bg-white dark:bg-gray-50 border mt-12">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
          <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="landingPage.html" class="items-center">
                    <img src="../public/img/logopt2_techway.png" class="h-8 me-3" alt="TechWay Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-blue">Via da Saudade</span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"> Informações</h2>
                    <ul class="text-gray-500 dark:text-orange-700 font-medium">
                        <li class="mb-4">
                            <a href="Login.html" class="hover:underline">Login</a>
                        </li>
                        <li>
                            <a href="Cadastro.html" class="hover:underline">Cadastro</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900">Saiba Mais</h2>
                    <ul class="text-gray-500 dark:text-orange-700 font-medium">
                        <li class="mb-4">
                            <a href="MemorialPost.html" class="hover:underline">Memoriais</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Quem somos</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900">Outro</h2>
                    <ul class="text-gray-500 dark:text-orange-700 font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">ONGs</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Campanhas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-blue-900 sm:mx-auto dark:border-blue-900" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 
              <a href="landingPage.html" class="hover:underline">TechWay™</a>. All Rights Reserved.
            </span>
        </div>
      </div>
    </footer>    
  </body>
</html>
