<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../public/img/iconvs.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/memorial.css" />
    <link rel="stylesheet" href="../public/css/output.css" />
  </head>
  <body class="max-w-7xlmx-auto">
    <!-- Navbar -->
    <nav class="bg-white p-5">
            <div class="flex items-center justify-between">
              <!-- Logo -->
              <div class="flex items-center space-x-5 px-5">
                <img src="../public/img/logo.png" alt="Logo" class="w-28" />
              </div>
              <!-- Links de Navegação (Centralizados) -->
              <div class="flex-1 flex text-center space-x-6">
                <!-- Botão "Página Inicial" -->
                <button
                  class="text-gray-800 hover:text-orange-500 bg-transparent focus:outline-none"
                >
                  Página Inicial
                </button>
                <!-- Botão "ONGs" -->
                <button
                  class="text-gray-800 hover:text-orange-500 bg-transparent focus:outline-none"
                >
                  ONGs
                </button>
                <!-- Botão "Sobre" -->
                <button
                  class="text-gray-800 hover:text-orange-500 bg-transparent focus:outline-none"
                >
                  Sobre
                </button>
                <!-- Botão "Campanha Memória" -->
                <button
                  class="text-gray-800 border border-orange-500 px-10 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-orange-500 hover:border-gray-800 hover:text-orange-500"
                >
                  Campanha Memória
                </button>
              </div>
              <!-- Barra de Pesquisa -->
              <div class="relative">
                <input
                  type="text"
                  placeholder="Procurar memorial"
                  class="py-2 px-4 pl-10 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500 w-64"
                />
                <svg
                  class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-search"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.742 10.742a6.5 6.5 0 1 0-1.417 1.417l3.486 3.485a1 1 0 1 0 1.415-1.414l-3.484-3.485zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                  />
                </svg>
                <!--botao de login-->
                <button
                  class="text-gray-800 border border-orange-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-orange-500 hover:border-gray-800 hover:text-orange-500 ml-4"
                >
                  <img src="../public/img/perfil.png" class="size-4.5 inline items-center" />
                  Login
                </button>
              </div>
            </div>
    </nav>
    <div class="flex flex-row md:flex-row justify-between items-center ">
        <div class="w-full md:w-1/2 p-4 inline-flex">            
            <h2 class="text-8xl font-bold text-center text-blue-900 hover:text-orange-500 px-6">|</h2>
            <h2 class="text-8xl font-mono font-extrabold text-center text-blue-900 hover:text-orange-500">Memórias</h2>
        </div>
    </div>
    <div class="flex flex-col p-5 lg:px-48 lg:py-11">
        <div class="bg-gray-100 p-5 mb-10">
            <h1 class="font-bold text-2xl mb-2">Nome da vítima!</h1>
            <h2 class="font-bold text-2xl mb-2">Data da morte e Local</h2>
            <p class="my-3 truncate">Historia da vitima</p>
            <button class="text-blue-900 font-semibold bg-white border border-orange-500 hover:border-blue-800 hover:text-orange-500 p-2 my-1 rounded-md">Leia Mais</button>
            <button class="text-blue-900 font-semibold bg-white border border-orange-500 hover:border-blue-800 hover:text-orange-500 p-2 my-1 rounded-md"
            id="visualizacoes-123">
                Visualizações: 0
            </button>
        </div>
        <div class="bg-gray-100 p-5 mb-10">
            <h1 class="font-bold text-2xl mb-2">Nome da vítima!</h1>
            <h2 class="font-bold text-2xl mb-2">Data da morte e Local</h2>
            <p class="my-3 truncate">Historia da vitima</p>
            <button class="text-blue-900 font-semibold bg-white border border-orange-500 hover:border-blue-800 hover:text-orange-500 p-2 my-1 rounded-md">Leia Mais</button>
            <button class="text-blue-900 font-semibold bg-white border border-orange-500 hover:border-blue-800 hover:text-orange-500 p-2 my-1 rounded-md"
            id="visualizacoes-123">
                Visualizações: 0
            </button>
        </div>
        <div class="bg-gray-100 p-5 mb-10">
            <h1 class="font-bold text-2xl mb-2">Nome da vítima!</h1>
            <h2 class="font-bold text-2xl mb-2">Data da morte e Local</h2>
            <p class="my-3 truncate">Historia da vitima</p>
            <button class="text-blue-900 font-semibold bg-white border border-orange-500 hover:border-blue-800 hover:text-orange-500 p-2 my-1 rounded-md">Leia Mais</button>
            <button class="text-blue-900 font-semibold bg-white border border-orange-500 hover:border-blue-800 hover:text-orange-500 p-2 my-1 rounded-md"
            id="visualizacoes-123">
                Visualizações: 0
            </button>
        </div>
    </div>
    <footer class="bg-white dark:bg-gray-50 border">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
              <div class="mb-6 md:mb-0">
                  <a href="landingPage.html" class="items-center">
                      <img src="../public/img/logopt2_techway.png" class="h-8 me-3" alt="TechWay Logo" />
                      <span class="self-center text-2xl font-semibold whitespace-nowrap text-blue">Via da Saudade</span>
                  </a>
              </div>
              <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                  <div>
                      <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"> Informações</h2>
                      <ul class="text-gray-500 dark:text-orange-700 font-medium">
                          <li class="mb-4">
                              <a href="Login.html" class="hover:underline">Login</a>
                          </li>
                          <li>
                              <a href="Cadastro.html" class="hover:underline">Cadastro</a>
                          </li>
                      </ul>
                  </div>
                  <div>
                      <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900">Saiba Mais</h2>
                      <ul class="text-gray-500 dark:text-orange-700 font-medium">
                          <li class="mb-4">
                              <a href="MemorialPost.html" class="hover:underline">Memoriais</a>
                          </li>
                          <li>
                              <a href="QuemSomos.html" class="hover:underline">Quem somos</a>
                          </li>
                      </ul>
                  </div>
                  <div>
                      <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900">Outro</h2>
                      <ul class="text-gray-500 dark:text-orange-700 font-medium">
                          <li class="mb-4">
                              <a href="#" class="hover:underline">ONGs</a>
                          </li>
                          <li>
                              <a href="#" class="hover:underline">Campanhas</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <hr class="my-6 border-blue-900 sm:mx-auto dark:border-blue-900" />
          <div class="sm:flex sm:items-center sm:justify-between">
              <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 
                <a href="landingPage.html" class="hover:underline">TechWay™</a>. All Rights Reserved.
              </span>
          </div>
        </div>
    </footer> 
  </body>