<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Espaço de Homenagem</title>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/img/iconvs.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/quem.css" />
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="max-w-7xlmx-auto" class="bg-gray-500">
    <!-- Navbar -->
    <nav class="bg-white p-5">
      <div class="flex items-center justify-between">
        <!-- Logo -->
        <div class="flex items-center space-x-5 px-5">
          <img src="/img/logo.png" alt="Logo" class="w-28" />
        </div>
        <!-- Links de Navegação (Centralizados) -->
        <div class="flex-1 flex text-center space-x-6">
          <!-- Botão "Página Inicial" -->
          <button
            id="btn-landingPage"
            class="text-blue-900 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            Página Inicial
          </button>
          <!-- Botão "ONGs" -->
          <button
            id="btn-ong"
            class="text-blue-900 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            ONGs
          </button>
          <!-- Botão "Sobre" -->
          <button
            id="btn-sobre"
            class="text-blue-900 hover:text-orange-500 bg-transparent focus:outline-none"
          >
            Sobre
          </button>
          <!-- Botão "Campanha Memória" -->
          <button
            id="btn-campanhas"
            class="text-blue-900 border border-orange-500 px-10 py-2 rounded-full focus:ring-orange-500 hover:text-orange-500"
          >
            Campanha Memória
          </button>
        </div>
        <!-- Barra de Pesquisa -->
        <div class="relative">
          <input
            id="search-bar"
            type="text"
            placeholder="Procurar memorial"
            class="py-2 px-4 pl-10 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-500 w-64"
          />
          <svg
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.742a6.5 6.5 0 1 0-1.417 1.417l3.486 3.485a1 1 0 1 0 1.415-1.414l-3.484-3.485zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
          <!--botao de login-->
          <button
            id="btn-login"
            class="text-blue-900 border border-orange-500 px-4 py-2 rounded-full focus:ring-orange-500 hover:text-orange-500 ml-4"
          >
            <img src="/img/perfil.png" class="w-6 inline items-center" />
            Login
          </button>
        </div>
      </div>
    </nav>

    <div
      class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4"
    >
      <div class="flex flex-col lg:flex-row justify-between gap-8">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
          <h1
            class="text-6xl lg:text-4xl font-bold leading-9 text-blue-900 dark:text-blue-900 p-5"
          >
            Sobre Nós
          </h1>
          <hr class="border-t-12 border-orange-500 p-4 mt-6" />
          <h2
            class="text-3xl lg:text-4xl font-bold leading-9 text-blue-900 dark:text-blue-900 p-4"
          >
            Seja bem-vindo à TechWay, onde a tecnologia encontra paixão e
            inovação!
          </h2>
          <p
            class="font-normal text-justify text-lg leading-6 text-blue-800 dark:text-blue-900 mt-4 px-10"
          >
            Somos uma equipe dinâmica de oito estudantes universitários, unidos
            por nosso entusiasmo compartilhado por tecnologia e um sonho comum:
            moldar o futuro das soluções digitais. Como discentes de Análise e
            Desenvolvimento de Sistemas (ADS), combinamos experiência acadêmica
            com novas perspectivas para criar soluções e que abordem desafios do
            mundo real.
          </p>
        </div>
        <div class="w-full lg:w-8/12 flex justify-center items-center">
          <img class="w-96" src="/img/sobrenos.png" />
        </div>
      </div>
      <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12 mt-6">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
          <h1
            class="text-5xl lg:text-4xl font-bold leading-9 text-blue-900 dark:text-blue-900 p-5 mt-4"
          >
            Nosso Ideal
          </h1>
          <hr class="border-t-12 border-orange-500 p-4 mt-6" />
          <p
            class="font-normal text-justify text-lg leading-6 text-blue-800 dark:text-blue-900 mt-4 px-10"
          >
            Na TechWay, acreditamos que cada ideia tem o potencial de
            transformar vidas. Guiados pela colaboração, criatividade e amor
            pela resolução de problemas, estamos comprometidos em entregar
            projetos inovadores, explorar novas tecnologias e contribuir para o
            cenário tecnológico em constante evolução.
          </p>
          <p
            class="font-normal text-justify text-lg leading-6 text-blue-800 dark:text-blue-900 mt-4 px-10"
          >
            Nossa jornada está apenas começando e estamos animados para crescer,
            aprender e inovar — junto com você. Vamos abrir caminho para um
            futuro mais inteligente e voltado para a tecnologia.
          </p>
          <h2
            class="text-3xl lg:text-4xl font-bold leading-9 text-blue-900 dark:text-blue-900 p-4 mt-6"
          >
            TechWay: Moldando o futuro, uma inovação de cada vez.
          </h2>
        </div>
        <hr class="border-orange-500 border-t-2" />
      </div>
    </div>
    <section class="bg-white" id="contact">
      <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20">
        <div class="mb-4">
          <div
            class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12"
          >
            <h2
              class="font-heading mb-4 font-bold tracking-tight text-blue-900 dark:text-blue-800 text-3xl sm:text-5xl"
            >
              Mantenha Contato
            </h2>
            <p
              class="mx-auto mt-4 max-w-3xl text-xl text-blue-900 dark:text-slate-400 px-16"
            >
              Na TechWay, acreditamos que grandes conexões levam a
              possibilidades ainda maiores. Se você tem uma pergunta, uma
              sugestão ou uma ideia de projeto empolgante, estamos aqui para
              ouvir e colaborar!
            </p>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <div class="flex flex-row max-w-4xl justify-center p-5">
            <div class="w-1/2">
              <img src="/img/Faleconosco.png" class="w-full" />
            </div>
            <div class="card max-w-4xl w-1/2" id="form">
              <form id="contactForm">
                <div class="mb-6">
                  <div class="mx-0 mb-1 sm:mb-4">
                    <div class="mx-0 mb-1 sm:mb-4">
                      <label
                        for="name"
                        class="pb-1 text-xs uppercase tracking-wider"
                      ></label
                      ><input
                        type="text"
                        id="name"
                        autocomplete="given-name"
                        placeholder="Seu nome"
                        class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-300 sm:mb-0"
                        name="name"
                      />
                    </div>
                    <div class="mx-0 mb-1 sm:mb-4">
                      <label
                        for="email"
                        class="pb-1 text-xs uppercase tracking-wider"
                      ></label
                      ><input
                        type="email"
                        id="email"
                        autocomplete="email"
                        placeholder="Seu email"
                        class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-300 sm:mb-0"
                        name="email"
                      />
                    </div>
                  </div>
                  <div class="mx-0 mb-1 sm:mb-4">
                    <label
                      for="textarea"
                      class="pb-1 text-xs uppercase tracking-wider"
                    ></label
                    ><textarea
                      id="textarea"
                      name="textarea"
                      cols="30"
                      rows="5"
                      placeholder="Escreva sua mensagem..."
                      class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-300 sm:mb-0"
                    ></textarea>
                  </div>
                </div>
                <div class="text-center">
                  <button
                    type="submit"
                    class="w-full bg-blue-800 text-white px-6 py-3 font-xl rounded-md sm:mb-0"
                  >
                    Enviar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-white dark:bg-gray-50 border">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
            <a href="/" class="items-center">
              <img
                src="/img/logopt2_techway.png"
                class="h-8 me-3"
                alt="TechWay Logo"
              />
              <span
                class="self-center text-2xl font-semibold whitespace-nowrap text-blue"
                >Via da Saudade</span
              >
            </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"
              >
                Informações
              </h2>
              <ul class="text-gray-500 dark:text-orange-700 font-medium">
                <li class="mb-4">
                  <a href="/login" class="hover:underline">Login</a>
                </li>
                <li>
                  <a href="/cadastro" class="hover:underline">Cadastro</a>
                </li>
              </ul>
            </div>
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"
              >
                Saiba Mais
              </h2>
              <ul class="text-gray-500 dark:text-orange-700 font-medium">
                <li class="mb-4">
                  <a href="/memorial" class="hover:underline">Memoriais</a>
                </li>
                <li>
                  <a href="/quemsomos" class="hover:underline">Quem somos</a>
                </li>
              </ul>
            </div>
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-blue-900"
              >
                Outro
              </h2>
              <ul class="text-gray-500 dark:text-orange-700 font-medium">
                <li class="mb-4">
                  <a href="/ongs" class="hover:underline">ONGs</a>
                </li>
                <li>
                  <a href="/campanhas" class="hover:underline">Campanhas</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="my-6 border-blue-900 sm:mx-auto dark:border-blue-900" />
        <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >© 2024 <a href="/" class="hover:underline">TechWay™</a>. All Rights
            Reserved.
          </span>
        </div>
      </div>
    </footer>
    <script src="/script/navigation.js"></script>
    <script type="module" src="/script/search.js"></script>
    <script type="module" src="/script/memories.js"></script>
    <script type="module">
      import { initializePageBehavior } from "./script/search.js";
      initializePageBehavior();
    </script>
  </body>
</html>
